//PAGE-SCSS : START
//STYLE-CLASS FOR <BODY>
.bodyClass {
    background-color: rgba($brand-color, 0.1);
    display: grid;
    grid-template-rows: 0.25fr 4fr 2fr 0.5fr 2fr;
    grid-gap: 2px;
}
a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
//HEADER SECTION: START : Divide the section in a 2x2 grid to place items
.headerSection{
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 2fr;
    border-bottom: $content-separator
}
.siteLogo{
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 0.5fr 2fr;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
    grid-gap: 1px;
}
.headingText1{
    background-color: black;
    color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align:center;
    
}
.headingText2{
    background-color: red;
    color: white;
    text-align:right;
    grid-row: 2/3;
    grid-column: 3/4;
}
.headingText3{
    grid-row: 3/4;
    grid-column: 2/4;
}
.headingLabel1{
    $item-number: 1;    
     @include get-from-fontFamilyList($item-number);
    $item-number: 5;
    @include get-from-fontSizeList($item-number);
    font-weight: bold;

}
.headingLabel2{
    $item-number: 1;    
    @include get-from-fontFamilyList($item-number);
    $item-number: 6;
    @include get-from-fontSizeList($item-number);
    font-weight: bold;
    color:red;
}
.linksContainer{
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2.5fr 3fr .5fr;
}
.linkLeftCell{
    grid-row: 2/3;
    grid-column: 1/2;
    border-left: $content-separator;
}
.links{
    grid-row: 2/3;
    grid-column: 2/3;
    padding-bottom: 5px;
    text-align: right;
}
.linksLabel1{
    $item-number: 1;
    @include get-from-fontFamilyList($item-number);
    @include get-from-fontSizeList($item-number);
    font-weight: bold;
    color:darkblue;
}
.linksLabel2{
    $item-number: 1;     
    @include get-from-fontFamilyList($item-number);
    @include get-from-fontSizeList($item-number);
    font-weight: bold;
    color: orangered;
}
.linksLabel3{
    $item-number: 1;     
    @include get-from-fontFamilyList($item-number);
    @include get-from-fontSizeList($item-number);
    font-weight: bold;
    color: violet;
}
.navAndSearch{
    border: $content-separator;
    border-right: none;
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3.25fr .75fr;
}

.searchBox{
    grid-row: 1/2;
    grid-column: 2/3;
    
}
.searchInput{
    border-left: $content-separator;
    width: 100%;
    height: 100%;
}
//HEADER-SECTION : END
//MAIN SECTION : START :  Divide the section to a 1x4 grid to place the items
.mainSection{
    padding-top: 10px;
    padding-bottom: 10px;
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.25fr 3fr 1fr 0.25fr;
    grid-gap: 2px;
}
//MAIN SECTION-COL-1 : START :  Divide the section to a 7x2 grid to place the items
.mainSectionCol1{
    grid-row: 1;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 5fr 2fr .5fr 1fr 2fr .5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}
%image-tag{
    position: absolute;
    background-color: white;
    padding: 3px;
    font-weight: bold;
}
%image-props{
     background-size: auto;
     position: absolute;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    display:inline-block;
}
.col1Row1{
    grid-row: 1;
    grid-column: 1/3; 
    p{
        color: white;
        opacity: 0.6;
        position: absolute;
        width: 990px;
        top: 430px;
        background-color: red;
    }
    div{
        top: 350px;
        left: 900px;
        @extend %image-tag;   
        @include get-from-fontSizeList(5);
        @include get-from-fontFamilyList(2);
    }
}
.mainContentImg{
    background-image:url('../src/images/mainContent.jpg');
    @extend %image-props;
    z-index: -1;
    height: 340px;
    width: 990px;
}
.col1Row2Col1{
    grid-row: 2;
    grid-column: 1/2;
    div{
        top: 600px;
        left: 120px;
        @extend %image-tag;
    }
}
.mainContentSubImg1{
    background-image:url('../src/images/qatarFm.jpg');
    @extend %image-props;
    height: 137px;
    width: 490px;
}
.col1Row2Col2{
    grid-row: 2;
    grid-column: 2/3;
    div{
        top: 600px;
        left: 620px;
        @extend %image-tag;
    }
}
.mainContentSubImg2{
    background-image:url('../src/images/dcImg.jpg');
    @extend %image-props;
    height: 137px;
    width: 490px;
}
.mainContentSubImg3{
    background-image:url('../src/images/trex.jpg');
    @extend %image-props;
    height: 137px;
    width: 490px;
}
.mainContentSubImg4{
    background-image:url('../src/images/merkel.jpg');
    @extend %image-props;
    height: 137px;
    width: 490px;
}
.col1Row3Col1{
    grid-row: 3;
    grid-column: 1/2;
   
}
.col1Row3Col2{
    grid-row: 3;
    grid-column: 2/3;
   
}
.col1Row4Col1{
    
    grid-row: 4;
    grid-column: 1/2;
}
.col1Row4Col2{
    
    grid-row: 4;
    grid-column: 2/3;
}
.col1Row5Col1{
    
    grid-row: 5;
    grid-column: 1/2;
    div{
        top: 840px;
        left: 120px;
        @extend %image-tag;
    }
}
.col1Row5Col2{
    
    grid-row: 5;
    grid-column: 2/3;
    div{
        top: 840px;
        left: 620px;
        @extend %image-tag;
    }
}
.col1Row6Col1{
    
    grid-row: 6;
    grid-column: 1/2;
}
.col1Row6Col2{
    
    grid-row: 6;
    grid-column: 2/3;
}
.col1Row7Col1{
    
    grid-row: 7;
    grid-column: 1/2;
}
.col1Row7Col2{
    
    grid-row: 7;
    grid-column: 2/3;
}
//MAIN SECTION-COL-1 : END
//MAIN SECTION-COL-2 : START :  Divide the section to a 3x1 grid to place the items
.mainSectionCol2{
   grid-row: 1;
    grid-column: 3/4;
    display: grid;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-columns: 1;
    grid-row-gap: 5px;
}
//CURRENCY TABLE : START :  Divide the section to a 6x4 grid to place the items
.mainTopRightSec{
    border: 1px solid rgba(179, 167, 167, 0.7);
    border-bottom: none;
    grid-row: 1/2;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: 4;
    padding: 1px;
    div{
        border-bottom: 1px solid rgba(179, 167, 167, 0.7);
        @include get-from-fontSizeList(1);
        padding-top:5px;
    }
}
.currTbleRow1Col1{
    grid-row: 1;
    grid-column: 1/2;
    background-image:url('../src/images/us.jpg');
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 100% 100%;
}
.currTbleRow1Col2{
    grid-row: 1;
    grid-column: 2/3;
}
.currTbleRow1Col3{
    grid-row: 1;
    grid-column: 3/4;
}
.currTbleRow1Col4{
    grid-row: 1;
    grid-column: 4/5;
}
.currTbleRow2Col1{
    grid-row: 2;
    grid-column: 1/2;
    background-image:url('../src/images/singapore.jpg');
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 100% 100%;
}
.currTbleRow2Col2{
    grid-row: 2;
    grid-column: 2/3;
}
.currTbleRow2Col3{
    grid-row: 2;
    grid-column: 3/4;
}
.currTbleRow2Col4{
    grid-row: 2;
    grid-column: 4/5;
    color: red;
}
.currTbleRow3Col1{
    grid-row: 3;
    grid-column: 1/2;
    background-image:url('../src/images/malaysia.jpg');
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 100% 100%;
}
.currTbleRow3Col2{
    grid-row: 3;
    grid-column: 2/3;
}
.currTbleRow3Col3{
    grid-row: 3;
    grid-column: 3/4;
}
.currTbleRow3Col4{
    grid-row: 3;
    grid-column: 4/5;
     color: green;
}
.currTbleRow4Col1{
    grid-row: 4;
    grid-column: 1/2;
    background-image:url('../src/images/indo.jpg');
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 100% 100%;
}
.currTbleRow4Col2{
    grid-row: 4;
    grid-column: 2/3;
}
.currTbleRow4Col3{
    grid-row: 4;
    grid-column: 3/4;
}
.currTbleRow4Col4{
    grid-row: 4;
    grid-column: 4/5;
    color: red;
}
.currTbleRow5Col1{
    grid-row: 5;
    grid-column: 1/2;
    background-image:url('../src/images/china.jpg');
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 100% 100%;
}
.currTbleRow5Col2{
    grid-row: 5;
    grid-column: 2/3;
}
.currTbleRow5Col3{
    grid-row: 5;
    grid-column: 3/4;
}
.currTbleRow5Col4{
    grid-row: 5;
    grid-column: 4/5;
    color: green;
}
.currTbleRow6Col1{
    grid-row: 6;
    grid-column: 1/2;
    background-image:url('../src/images/euro.jpg');
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 100% 100%;
    border-bottom: none;
}
.currTbleRow6Col2{
    grid-row: 6;
    grid-column: 2/3;
    border-bottom: none;
}
.currTbleRow6Col3{
    grid-row: 6;
    grid-column: 3/4;
    border-bottom: none;
}
.currTbleRow6Col4{
    grid-row: 6;
    grid-column: 4/5;
    color: red;
    border-bottom: none;
}
//CURRENCY-TABLE : END
//INTERNATIONAL-NEWS: START : Divide the section in a 8x2 grid to place items
.mainMiddleRightSec{
    padding: 2px;
    border: $content-separator;
    grid-row: 2/3;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: 2;
    grid-gap: 3px;
}
%newsHeader{
    color: grey;
    font-weight: bold;  
    @include get-from-fontSizeList(3);
    padding-top: 5px;
    padding-left:5px;
    border-bottom: $content-separator;
}
.intlTbleRow1{
    grid-row: 1;
    grid-column: 1/3;
    @extend %newsHeader;
}
.intlTbleRow2Col1{
    grid-row: 2/4;
    grid-column: 1/2;
    background-image:url('../src/images/trump.jpg');
    background-size: 100% 100%;
    width:90px;
    height:76px;
}
%dateHeading{
    border: none;
    padding-top: 8px;
    color: grey;
}
.intlTbleRow2Col2{
    grid-row: 2/3;
    grid-column: 2/3;
    @extend %dateHeading;
}
.intlTbleRow3Col2{
    grid-row: 3/4;
    grid-column: 2/3;
    border-top:none;
}
.intlTbleRow4Col1{
    grid-row: 4/6;
    grid-column: 1/2;
    background-image:url('../src/images/intl2.jpg');
    background-size: 100% 100%;
    width:90px;
    height:76px;
}
.intlTbleRow4Col2{
    grid-row: 4/5;
    grid-column: 2/3;
    @extend %dateHeading;
}
.intlTbleRow5Col2{
    grid-row: 5/6;
    grid-column: 2/3;
}
.intlTbleRow6Col1{
    grid-row: 6/8;
    grid-column: 1/2;
    background-image:url('../src/images/intl3.jpg');
    background-size: 100% 100%;
    width:90px;
    height:76px;
}
.intlTbleRow6Col2{
    grid-row: 6/7;
    grid-column: 2/3;
    @extend %dateHeading;
}
.intlTbleRow7Col2{
    grid-row: 7/8;
    grid-column: 2/3;
}

.intlTbleRow8{
    grid-row: 8;
    grid-column: 1/3;
    text-align: center;
    border: $content-separator;
    padding-top: 10px;
    color: grey;
    font-weight: bold;
    border:none;
    border-top: $content-separator;
}
//INTERNATIONAL SECTION: END
//SPORTS SECTION : START : Divide the section into 8x2 grid to place items
.mainBottomRightSec{
    padding: 2px;
    border: $content-separator;
    grid-row: 3/4;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: 2;
    grid-gap: 2px;
}
.sprtTbleRow2Col1{
    grid-row: 2/4;
    grid-column: 1/2;
    background-image:url('../src/images/sprt1.jpg');
    background-size: 100% 100%;
    width:90px;
    height:76px;
}
.sprtTbleRow4Col1{
    grid-row: 4/6;
    grid-column: 1/2;
    background-image:url('../src/images/sprt2.jpg');
    background-size: 100% 100%;
    width:90px;
    height:76px;
}
.sprtTbleRow6Col1{
    grid-row: 6/8;
    grid-column: 1/2;
    background-image:url('../src/images/sprt3.jpg');
    background-size: 100% 100%;
    width:90px;
    height:76px;
}
//SPORTS-SECTION: END
//MAIN-SECTION : END
//SUB-MAIN SECTION : START :  Divide the section to a 2x5 grid to place the items
.subMainSection{
    @extend .padding-9;
    border-bottom: $content-separator;
    border-top: $content-separator;
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr .75fr;
    grid-template-columns: 0.25fr 1fr 1fr 1fr 0.25fr;
    grid-column-gap: 10px;
    @include get-from-fontSizeList(2);
    div > ul {
        list-style-type: none;
        padding-top:10px;
      }
      ul > li > a{
        color: rgb(97, 93, 93);
      }
      ul > li:before {
        content: "–"; 
        position: absolute;
        margin-left: -1.1em; 
      }
}
//CLASS for tags of the images
%subMainPicLbl{
    top: 1200px;
    @extend %image-tag;    
    @include get-from-fontSizeList(3);
    @include get-from-fontFamilyList(2);
    width: 150px;
    color: white;
}
.subImgLbl1{
   @extend %subMainPicLbl;
    background-color: red;
    left: 140px;
}
.subImgLbl2{
    @extend %subMainPicLbl;
    background-color: rgb(214, 67, 214);
    left: 570px;
}
.subImgLbl3{
    @extend %subMainPicLbl;
    background-color: blue;
    left: 1000px;
}
.subContentSubImg1{
    background-image:url('../src/images/tech.jpg');
    @extend %image-props;
    height: 250px;
    width: 420px;
}
.subContentSubImg2{
    background-image:url('../src/images/health.jpg');
    @extend %image-props;
    height: 250px;
    width: 420px;
}
.subContentSubImg3{
    background-image:url('../src/images/business.jpg');
    @extend %image-props;
    height: 250px;
    width: 420px;
}
.subMainSecRow1Col1{
    grid-row: 1;
    grid-column: 2/3;
}
.subMainSecRow2Col1{
    grid-row: 1;
    grid-column: 3/4;
}
.subMainSecRow3Col1{
    grid-row: 1;
    grid-column: 4/5;
}
.subMainSecRow1Col2{
    grid-row: 2;
    grid-column: 2/3;
}
.subMainSecRow2Col2{
    grid-row: 2;
    grid-column: 3/4;
}
.subMainSecRow3Col2{
    grid-row: 2;
    grid-column: 4/5;
}
//SUB-MAIN SECTION: END

//AD-Section: START : Divide the section to a 1x4 grid to place both images
.adSection{
    border-bottom : 5px solid darkgray;
    grid-row: 4/5;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: minmax(0,0.5fr);
    grid-template-columns: 0.25fr 2fr 1fr 0.25fr;
}
.banner1{
    grid-row: 1;
    grid-column: 2/3;
    img{
        background-image:url('../src/images/ad1.jpg');
    @extend %image-props;
    height: 100px;
    width: 850px;
    }
}
.banner2{
    grid-row: 1;
    grid-column: 3/4;
    img{
        background-image:url('../src/images/ad2.jpg');
    @extend %image-props;
    height: 100px;
    width: 505px;
    }
}
//AD-Section : END

//Footer Section: START : Divide the section to a 3x1 grid to place the items
.footerSection{
    @extend .padding-7;
    grid-row: 5/6;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 0.15fr 0.15fr 0.2fr;
    grid-template-columns: 1fr;
    margin:0;
    border:none;
    div{     
        @include get-from-fontFamilyList(2);
        @include get-from-fontSizeList(2);
        text-align: center;
        color: white;
        padding-top: 30px;
    }
}
.footerRow1{
    background-color: $footerBackgroundColor1;
    display: inline;
    a{
        color: white;
        margin-left: 10px;
    }
}
.footerRow2{
    background-color: $footerBackgroundColor2;
    border-top: $content-separator;
    
}
.footerRow3{
    background-color: $footerBackgroundColor2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.15fr 0.75fr 0.15fr;
}
.imgCell{
    grid-row: 1/2;
    grid-column: 1/4;
    background-image:url('../src/images/logo_banner.jpg');
    background-repeat:no-repeat;
    display:inline-block;
    background-size: 100% 100%;
}
//Footer Section: END 
//PAGE-SCSS : END