//MIXIN-SCSS: START
//mixin to generate font-size attribute by assigning value from 'fontSizeList' variable based on the index being passed
@mixin get-from-fontSizeList($index) {
    font-size: nth($fontSizeList, $index);
  }

//mixin to generate font-family attribute by assigning value from 'fontFamilyList' variable based on the index being passed
@mixin get-from-fontFamilyList($index) {
    font-family: nth($fontFamilyList, $index);
  }
//MIXIN-SCSS: END
  