//NAVIGATION-BAR-SCSS : START
.navBar{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        li {
            padding-left: 20px;
            padding-top: 10px;
            display: inline;
            a {
                color: #000;
                padding: 8px 16px;
                text-decoration: none;
                font-weight: bold;
                $item-number: 2;     
                @include get-from-fontSizeList($item-number);
                $item-number: 1;     
                @include get-from-fontFamilyList($item-number);
                &:hover {
                    background-color: #000;
                    color: white;
                  }
              }
          } 
        
      } 
}
//NAVIGATION-BAR-SCSS : END