//VARIABLE-SCSS : Contains the variables used in other SCSS file for styling
//variable for white-color
$brand-color: rgb(255, 255, 255);
//variable for border with width=0.5px, style=solid and color=gray
$content-separator:0.5px solid gray;
//list for all font-sizes 
$fontSizeList: 14px 18px 20px 28px 34px 42px;    
//list for all font-family 
$fontFamilyList: 'Times New Roman' Arial 'Trebuchet MS'; 
//variable for dark-shade of black color
$footerBackgroundColor1: #262729;
//variable for light-shade of black color
$footerBackgroundColor2: #323337;

//Loop to create class with different 'padding' values
@for $i from 1 to 5 {
    $paddingSize : 5 + $i*2;
    .padding-#{$paddingSize}{
      padding: #{$paddingSize}px;
    }
  }


